eilnn.egg-info/
eilnn/__pycache__/
test_data/data/
path_test.ipynb
.ipynb_checkpoints/path_test-checkpoint.ipynb
temp/utils_incomplete.py
temp_test.ipynb
*.pyc
model/saved_model.pb
model/variables/variables.data-00000-of-00001
model/variables/variables.data-00000-of-00002
model/variables/variables.data-00001-of-00002
model/variables/variables.index
